* {
    font-family: "neoSans";
    font-weight: 500;
}

body {
    background-color: #fff;
}


/*****************Start Section  Of Navbar*******************/

.navbar-bg {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    z-index: 100;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.navbar-bg .navbar {
    top: 11px;
    text-align: right;
}

.navbar-bg.is_stuck {
    background-color: #fff;
    border-bottom: 1px solid #999;
}

img {
    max-width: 100%
}

.navbar-bg .logo {
    height: 90px;
    width: 100px;
    display: block;
    padding: 10px 0
}

.navbar-bg.is_stuck .logo {
    height: 90px;
    display: block;
    padding: 25px 0;
}

.navbar-bg.is_stuck .logo img {
    /* height: 100%; */
    /* width: 100%; */
}

.navbar .navigation-menu>ul:not(.mobile-menu)>li:hover>a,
.navbar .navigation-menu>ul:not(.mobile-menu)>li.active>a {
    color: #db272c;
}

.navbar .navigation-menu>ul:not(.mobile-menu)>li.active>a:before {
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 20px;
}

.navigation-menu>ul:not(.mobile-menu)>li>a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.is_stuck .navigation-menu>ul:not(.mobile-menu)>li>a {
    color: #000
}

.navbar-head .navigation-menu>ul:not(.mobile-menu)>li>a {
    color: #000
}

@media(max-width:768px) {
    .navbar .navigation-menu {
        float: right;
    }
}

.navigation-menu .menu-button {
    border: 0;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
    color: rgb(239, 45, 51);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navigation-menu .menu-button:focus {
    outline: none;
    !important;
}


/*********Languge*********/

.navbar-bg .languge {
    float: left;
    padding-top: 20px;
    text-align: center;
    margin-left: 30px;
}

.navbar-bg .languge li {
    padding: 0!important
}

.navbar-bg .languge li a {
    line-height: 2px;
    text-align: center;
    padding: 14px 7px;
    width: 30px;
    display: block;
    cursor: pointer;
    margin-left: 5px;
    opacity: 0.5;
    margin-bottom: 50px;
    background-color: #eaeaea;
}

.navbar-bg .languge li a.select {
    opacity: 1;
    background-color: #000
}


/*******Social***********/

.navbar-bg .social {
    margin-top: 20px;
    text-align: right;
}

.navbar-bg .social a {
    display: inline-block;
    background-color: #e0e0e0;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    margin-left: 5px;
    margin-top: 17px;
    margin-bottom: 20px;
}

.navbar-bg .social a:hover {
    background-color: #7caf36;
}

@media(max-width:1024px) {
    .navbar-bg .social {
        text-align: center;
        margin-top: 0;
    }
    .navbar-bg .social a {
        margin-top: 0;
    }
}


/********For Mobile**********/

.navbar .navigation-menu li,
.navbar .navigation-menu li a {
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    text-align: left;
    transition: all ease-in-out 0.5s;
}

.navbar .navigation-menu .mobile-menu li {
    cursor: pointer;
}

.navbar .navigation-menu .mobile-menu li a {
    color: #3d3d3d;
}

.navigation-menu .mobile-menu li.active,
.navigation-menu .mobile-menu li:hover {
    background-color: #a2292c;
}

.navigation-menu .mobile-menu li.active a,
.navigation-menu .mobile-menu li:hover a {
    color: #fff;
}

.navigation-menu .mobile-menu li a {
    line-height: 0;
}


/************Search Button**********************/

.navbar-bg .search {
    line-height: 100px;
    cursor: pointer;
    position: relative;
}

.navbar-bg .search span:hover {
    box-shadow: 0 0 5px rgba(2, 2, 2, 0.63);
}

.navbar-bg .search span {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #a3a3a3;
    line-height: 38px;
    text-align: center;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.navbar-bg .search input:focus {
    outline: none;
    !important;
}

.navbar-bg .search span:before {
    line-height: 40px;
    color: #db272c;
    font-weight: 600;
    font-size: 20px;
}

.navbar-bg .search input {
    border: 1px solid #7caf36;
    padding: 10px 20px;
    position: absolute;
    bottom: -32px;
    right: 23px;
    width: 303px;
    opacity: 1;
    color: #7caf36;
    display: none;
}


/*********Dropdown Menu***********/

.navigation-menu>ul:not(.mobile-menu)>li>ul {
    box-shadow: 0 2px 10px rgba(2, 2, 2, 0.50);
}

.navigation-menu>ul:not(.mobile-menu)>li>ul li a {
    color: #3d3d3d;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.navigation-menu>ul:not(.mobile-menu)>li>ul li a:hover {
    color: #db272c;
}

.navigation-menu>ul:not(.mobile-menu)>li>ul li {
    background-color: #fff;
}


/*****************End Section  Of Navbar*******************/


/*****************Start Section  Of Header*******************/

.header {
    height: 100vh;
    position: relative;
}

.header:before {
    display: block;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
}

.header .overlay {
    padding-top: 40vh;
    color: #fff;
    height: 100vh;
}

.header .overlay .content h1 {
    font-size: 32px;
    font-weight: 600;
}

.header .overlay .content p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    max-height: 170px;
}

.header .overlay .content a {
    background-color: #7caf36;
    padding: 10px 40px;
    color: #fff;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.53);
    margin-top: 30px;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

@media(max-width:768px) {
    .header .overlay .content a {
        margin-top: 0;
    }
}

.header .overlay .content a:hover {
    background-color: #82c12b;
    ;
}


/************Slider Controls***************/

.slick-slider.header-slider.tornado-ui .prev {
    left: 50%;
    margin-left: -50px;
    height: 35px;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #000;
}

.slick-slider.header-slider.tornado-ui .next {
    right: 50%;
    font-weight: 600;
    margin-right: -50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    width: 50px;
    border-left: 1px solid #000;
}

.slick-slider.header-slider.tornado-ui .next:before,
.slick-slider.header-slider.tornado-ui .prev:before {
    font-size: 20px;
    color: #2c2c2c;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.slick-slider.header-slider.tornado-ui .next:hover:before,
.slick-slider.header-slider.tornado-ui .prev:hover:before {
    color: #7caf36;
}

.slick-slider.header-slider.tornado-ui .next,
.slick-slider.header-slider.tornado-ui .prev {
    top: 90%;
    background-color: #fff;
}

.slick-slider.header-slider.tornado-ui .next:focus,
.slick-slider.header-slider.tornado-ui .prev:focus {
    outline: none;
    !important;
}


/*****************End Section  Of Header*******************/


/*****************Start Section Of Our Services*******************/

.services {
    padding-top: 50px;
    padding-bottom: 50px;
}

.services .under-title {
    text-align: center;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}

.services .services-block {}

.services .services-block .block-img {
    width: 100%;
    height: 350px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
}

.services .services-block .block-content {
    text-align: center;
    color: #3d3d3d;
    padding: 30px;
    padding-bottom: 50px;
    padding-top: 150px;
    margin: -188px 20px 0 20px;
    background-color: #ffffff;
    -webkit-clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
    -moz-clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
    -o-clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
    box-shadow: 0 0 1px #000;
    border: 1px solid rgba(216, 216, 216, 0.36);
}

@media(max-width:1024px) {
    .services .services-block .block-content {
        margin-bottom: 30px
    }
}

.services .services-block .block-content h3 {
    font-size: 20px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.services .services-block .block-content .stars {
    font-size: 12px;
    margin-top: 3px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.services .services-block .block-content p {
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 0;
    height: 140px;
    overflow: hidden;
}

.services .services-block .block-content a {
    display: inline-block;
    padding: 10px 35px;
    color: #3d3d3d;
    box-shadow: 0 0 15px rgba(2, 2, 2, 0.15);
    margin-top: 30px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.services .services-block .block-content:hover a {
    color: #fff;
    background-color: #82c12b
}

.services .services-block .block-content:hover .stars {
    color: #7caf36;
}

.services .services-block .block-content:hover h3 {
    color: #db272c;
}


/*****************End Section  Start Section Of Our Services*******************/


/****************Start Section Of  Our Core Products******************/

.products {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center
}

.products .content {
    margin-top: 40px;
}

.products .img-block-big {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background-color: rgba(130, 193, 43, 0.52);
    background-color: #e4e4e4;
}

@media(max-width:768px) {
    .products .img-block-big {
        height: 300px;
    }
}

.products .img-block-big:hover .overlay {
    opacity: 1;
}

.products .img-block-big .overlay {
    text-align: center;
    background-color: rgba(4, 6, 1, 0.46);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.products .img-block-big .overlay span {
    margin: auto;
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    color: #7caf36;
    font-size: 30px;
    height: 40px;
    width: 40px;
    border: 1px solid #7caf36;
}

.products .img-block-big .overlay p {
    background-color: #7caf36;
    padding: 10px;
    color: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
    font-size: 20px;
}


/***********Small Block*************/

.products .small-block .img-block {
    width: 100%;
    height: 235px;
    margin-bottom: 30px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background-color: rgba(130, 193, 43, 0.52);
    background-position: 50%;
}

@media(max-width:1124px) {
    .products .small-block .img-block {
        height: 300px;
    }
}

.products .small-block:hover .overlay {
    opacity: 1;
}

.products .small-block .overlay {
    text-align: center;
    background-color: rgba(4, 6, 1, 0.46);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.products .small-block .overlay span {
    margin: auto;
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    right: 40%;
    color: #7caf36;
    font-size: 30px;
    height: 40px;
    width: 40px;
    border: 1px solid #7caf36;
}

.products .small-block .overlay p {
    background-color: #7caf36;
    padding: 10px;
    color: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
    font-size: 20px;
}

.products .button-more {
    display: inline-block;
    padding: 10px 40px;
    background-color: #7caf36;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.products .button-more:hover {
    background-color: #90da29;
}


/*****************End Section Of  Our Core Products*******************/


/*****************Start Section Of Start Section Of what We Have *******************/

.have {
    padding-top: 50px;
    padding-bottom: 50px;
}

.have .title-star {
    margin-bottom: 40px;
}

.have .tabs ul li {
    width: 100%;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #fff;
    background-color: #2c2c2c;
    color: #fff;
    cursor: pointer;
}

.have .tabs ul li.active {
    background-color: #7caf36;
}

.have .tabs ul li h3 {
    margin-left: 155px;
    line-height: 100px;
    color: #fff;
    font-size: 18px;
}

.have .tabs .img {
    background-color: rgba(166, 166, 166, 0.37);
    height: 100%;
    width: 100px;
    position: absolute;
    text-align: center;
    padding-top: 15px;
    z-index: 1;
}

.have .all-tabs>div:not(.tab1) {
    display: none;
}

.have .all-tabs .block {
    height: 400px;
    position: relative;
    text-align: center;
}

.have .all-tabs .block .overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: rgba(2, 2, 2, 0.80);
    padding: 119px 50px;
}

@media (max-width:768px) {
    .have .all-tabs .block .overlay {
        padding: 100px 10px;
    }
}

.have .all-tabs .block p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
}

.have .all-tabs .block a {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #fff;
    background-color: rgba(2, 2, 2, 0.50);
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    margin-top: 30px;
}

.have .all-tabs .block a:hover {
    background-color: #7caf36;
}


/*****************End Section Of Start Section Of what We Have *******************/


/*****************Start Section Of Start Section Of Quality Awards *******************/

.awards {
    padding-top: 50px;
}

.campany {
    height: 400px;
    background-attachment: fixed;
    position: relative;
    padding-top: 115px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width:1024px) {
    .campany {
        height: 550px;
    }
}

@media (max-width:768px) {
    .campany {
        height: 900px;
    }
}

.campany:before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(2, 2, 2, 0.70);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.campany .campany-block {
    width: 250px;
    height: 150px;
    padding: 30px 40px;
    background-color: #fff;
    border: 1px solid #db272c;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.campany .campany-block img {
    display: block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}


/*****************End Section Of Start Section Of Quality Awards *******************/


/******=============================Start Page Of Proucts===================================*/


/****************Start Section Of Products*****************/

.products-page {}

.products-page .product-block {
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.products-page .product-block .img-product {
    position: absolute;
    top: 30%;
    opacity: 0.6;
    padding: 40px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

@media (max-width:768px) {
    .products-page .product-block .img-product {
        left: 15%;
    }
}

.products-page .product-block .img-product img {
    width: 100%;
}

.products-page .product-block .overlay-product {
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #c7c7c7;
}

.products-page .product-block .overlay-product p {
    position: absolute;
    bottom: -19px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 600;
    background-color: #7caf36;
    height: 57px;
    line-height: 50px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.products-page .product-block:hover .overlay-product {
    opacity: 1;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.products-page .product-block:hover .img-product {
    top: 10px;
    opacity: 1
}


/****************End Section Of Products*****************/


/******=============================End Page Of Proucts===================================*/


/******=============================Rtart Page Of Overview===================================*/


/********Start Section Of About Us********/

.overview .overview-slider {
    width: 100%;
    height: 400px;
}

.overview .overview-paragraph {
    text-align: center;
    position: relative;
    height: 100%;
    text-align: center;
}

.overview .overview-paragraph p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #3d3d3d;
}

.overview .overview-paragraph button {
    padding: 10px 30px;
    background-color: #6bac11;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #fff;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    margin-bottom: 50px
}

.overview .overview-paragraph button:focus {
    outline: none;
    !important;
}

.overview .overview-paragraph button:hover {
    background-color: #7caf36;
}


/************Slider Controls***************/

.slick-slider.overview-slider.tornado-ui .prev {
    left: 50%;
    margin-left: -50px;
    height: 35px;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #fff;
}

.slick-slider.overview-slider.tornado-ui .next {
    right: 50%;
    font-weight: 600;
    margin-right: -50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    width: 50px;
    border-left: 1px solid #fff;
}

.slick-slider.overview-slider.tornado-ui .next:before,
.slick-slider.overview-slider.tornado-ui .prev:before {
    font-size: 20px;
    color: #fff;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.slick-slider.overview-slider.tornado-ui .next:hover:before,
.slick-slider.overview-slider.tornado-ui .prev:hover:before {
    color: #2c2c2c;
}

.slick-slider.overview-slider.tornado-ui .next,
.slick-slider.overview-slider.tornado-ui .prev {
    top: 90%;
    background-color: #7caf36;
}

.slick-slider.overview-slider.tornado-ui .next:focus,
.slick-slider.overview-slider.tornado-ui .prev:focus {
    outline: none;
    !important;
}


/********End Section Of About Us********/


/****************Strat Section Of Our Mission*****************/

.our-mission {
    background-attachment: fixed;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 100px;
}

.our-mission:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(2, 2, 2, 0.80)
}

.our-mission .mission-block {}

.our-mission .mission-block h4 {
    color: #db272c;
    font-size: 20px;
    margin-bottom: 20px;
}

.our-mission .mission-block {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
}

.our-mission .mission-block ul li {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    color: #3d3d3d;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.our-mission .mission-block ul li:hover {
    color: #7caf36;
}

.our-mission .mission-block ul li:before {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
}


/****************End Section Of Our Mission*****************/


/******=============================End Page Of Overview===================================*/


/******=============================Start Page Of Certificates===================================*/


/********Start Section Of Certificates********/

.certificates .certificates-slider {
    width: 100%;
    height: 100%;
}

.certificates .certificates-paragraph {
    height: 100%;
    margin-bottom: 40px;
}

.certificates .certificates-paragraph p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #3d3d3d;
}

.certificates .certificates-paragraph ul li {
    font-size: 18px;
    color: #3d3d3d;
    line-height: 30px;
}

.certificates .certificates-paragraph ul li:before {
    color: #7caf36;
    font-size: 25px;
    margin-right: 15px;
}


/************Slider Controls***************/

.slick-slider.certificates-slider.tornado-ui .prev {
    left: 50%;
    margin-left: -50px;
    height: 35px;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #fff;
}

.slick-slider.certificates-slider.tornado-ui .next {
    right: 50%;
    font-weight: 600;
    margin-right: -50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    width: 50px;
    border-left: 1px solid #fff;
}

.slick-slider.certificates-slider.tornado-ui .next:before,
.slick-slider.certificates-slider.tornado-ui .prev:before {
    font-size: 20px;
    color: #fff;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.slick-slider.certificates-slider.tornado-ui .next:hover:before,
.slick-slider.certificates-slider.tornado-ui .prev:hover:before {
    color: #2c2c2c;
}

.slick-slider.certificates-slider.tornado-ui .next,
.slick-slider.certificates-slider.tornado-ui .prev {
    top: 90%;
    background-color: #7caf36;
}

.slick-slider.certificates-slider.tornado-ui .next:focus,
.slick-slider.certificates-slider.tornado-ui .prev:focus {
    outline: none;
    !important;
}


/********End Section Of ertificates********/


/******=============================End Page Of Certificates===================================*/


/******=============================Start Page Of Contact Us===================================*/


/*****Start Section Of Map********/

.map {
    padding-top: 50px;
    padding-bottom: 50px;
}

.map .map-block {
    height: 400px;
}

.map .map-block img {
    height: 100%;
    width: 100%
}


/*****Start Section Of Map********/


/*****Start Section  Form To Contact Us********/

.form-contact p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: #9e9e9e;
}

.form-contact h6 {
    margin: 20px 0;
    color: #505050;
}

.form-contact input,
.form-contact textarea {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    color: #7caf36;
    border: 1px solid #d2d2d2;
    opacity: 0.9;
}

.form-contact input:focus,
.form-contact textarea:focus,
.form-contact button {
    outline: none;
    !important;
    border-color: #7caf36;
}

.form-contact textarea {
    height: 200px;
    resize: none;
}

.form-contact button {
    padding: 10px 30px;
    color: #fff;
    background-color: #7caf36;
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-align: right;
    margin-left: 15px;
}


/*****End Section  Form To Contact Us********/


/*************Start Section Get In Toutch****************/

.toutch {
    padding-top: 50px;
    text-align: center;
}

.toutch h3 {
    margin-bottom: 30px
}

.toutch .title {
    font-size: 20px;
}

.toutch .title-star {
    margin-bottom: 15px;
}

.toutch ul li {
    font-size: 16px;
    line-height: 30px;
    color: #3d3d3d;
}

.toutch ul li:before {
    margin-right: 10px;
    font-size: 18px;
}

.toutch .toutch-block {
    padding: 30px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}

.toutch .toutch-block:hover {
    box-shadow: 0 0 2px #000;
    box-shadow: 0 0 9px rgba(144, 144, 144, 0.45);
}


/************End Section Get In Toutch****************/


/******=============================End Page Of Contact Us===================================*/


/******=============================Start Page Products Portfolio===================================*/

.portfolio-product .image .portfolio-block {
    height: 500px;
    margin-top: 30px;
}

.portfolio-product .paragraph {
    padding-top: 30px;
    padding-bottom: 40px;
}

.portfolio-product .paragraph h3 {}

.portfolio-product .paragraph p {
    line-height: 30px;
    font-size: 18px;
    color: #3d3d3d;
}

.portfolio-product .info {
    text-align: center;
}

.portfolio-product .info .info-block {
    padding: 40px 30px;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.portfolio-product .info h3 {
    font-size: 18px;
    color: #db272c;
}

.portfolio-product .info p {
    font-size: 16px;
    color: #3d3d3d;
}

.portfolio-product .info .info-block:hover {
    box-shadow: 0 0 5px rgba(2, 2, 2, 0.50)
}


/******=============================End Page Products Portfolio===================================*/


/******=============================Start Page Events===================================*/

.event .event-block1 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.event .event-block1 .event-img {
    height: 500px;
}

@media(max-width:768px) {
    .event .event-block2 {
        text-align: center;
    }
    .event .event-block2 .event-description,
    .event .event-block2 .event-location,
    .event .event-block2 .event-time,
    .event .event-block2 .event-social {
        margin-bottom: 30px;
    }
}

.event .event-block2 .event-description h4 {
    font-size: 18px;
    color: #db272c;
}

.event .event-block2 .event-location p {
    margin: 0;
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 600;
}

.event .event-block2 .event-location p:before {
    font-size: 20px;
    margin-right: 10px;
    color: #db272c;
}

.event .event-block2 .event-time p {
    margin: 0;
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 600;
}

.event .event-block2 .event-time p:before {
    font-size: 20px;
    margin-right: 10px;
    color: #db272c;
    font-weight: 600;
}

.event .event-block2 .event-social ul li {
    display: inline-block
}

.event .event-block2 .event-social ul li a {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #8c8c8c;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.event .event-block2 .event-social ul li a:hover {
    background-color: #7caf36;
}

.event .event-block3 p {
    line-height: 30px;
    font-size: 18px;
}


/******=============================End Page Events===================================*/


/*****************Start Section Footer *******************/

.footer {
    margin-top: 185px;
    padding-top: 149px;
    padding-bottom: 30px;
    position: relative;
    background-attachment: fixed;
    color: #fff;
}

.footer:before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(88, 88, 88, 0.79);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


/***********Title General*************/

.footer .title-footer {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}

.footer .footer-star {
    font-size: 11px;
    color: #7caf36;
    margin-top: 15px;
    margin-bottom: 20px;
}

.footer .footer-star span {
    margin-right: 2px;
}


/***********Title General*************/

.footer h5:before {
    margin-right: 5px;
}

.footer h4 {
    font-size: 16px;
    font-weight: 600;
    color: #7caf36;
}

.footer h5 {
    font-size: 14px;
    margin: 0;
    margin-top: 15px;
}

.footer ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.footer ul li a:hover {
    color: #7caf36;
}

.footer .social {
    margin-top: 20px
}

.footer .social a {
    display: inline-block;
    background-color: #777;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    margin-right: 15px;
    display: inline-block;
}

.footer .social a:hover {
    background-color: #7caf36;
}

.footer input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #7caf36;
    margin-bottom: 20px;
}

.footer button {
    width: 100%;
    padding: 10px 20px;
    background-color: #7caf36;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.footer button:hover {
    background-color: #8cd723;
}

.footer input,
.footer button {
    outline: none;
    !important
}

.footer>ul li {
    display: inline-block;
}

.footer .social ul li a {
    display: inline-block;
    background-color: #777;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    margin-right: 15px;
    margin-top: 20px;
}

.footer .img-block {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #000;
}

@media (max-width:768px) {
    .footer .img-block {
        height: 200px;
        width: 100%;
        margin-bottom: 30px;
    }
}


/************For Responsive************/

@media (max-width:768px) {
    .footer {
        text-align: center;
    }
}


/*****************End Section Footer *******************/


/*****************Start Section Question *******************/

.question {
    padding-top: 50px;
    padding-top: 50px;
    position: absolute;
    top: -124px;
    right: 0;
    left: 0;
}

@media(max-width:768px) {
    .question {
        top: -150px;
    }
}

.question .question-content {
    background-color: #7caf36;
    height: 20%;
    box-shadow: 0 8px 32px rgba(2, 2, 2, 0.23);
    color: #fff;
    text-align: center;
    padding: 40px 0;
    border-radius: 5px;
}

.question .question-content h6 {
    font-size: 24px;
    margin-bottom: 20px;
}

.question .question-content span {
    font-size: 14px;
    font-weight: 600;
}

.question .question-content a {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 50px;
    background-color: #fff;
    margin-top: 20px;
    display: inline-block;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.question .question-content a:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.50);
    color: #db272c;
}


/*****************End Section Question *******************/


/***********************Start Section Copy Right***********************/

.copyright {
    background-color: #121212;
    padding-top: 20px;
}

.copyright_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.copyright_content p {
    margin: 0;
    color: #fff;
    margin-bottom: 20px;
}

.copyright_content p span {
    color: #7caf36
}

.copyright_content p a {
    color: #db272c
}


/***********************End Section Copy Right***********************/


/**************Start My Framework************/

.uppercase {
    text-transform: uppercase;
    font-family: "neoSans";
}

.capitalize {
    text-transform: capitalize;
    font-family: "neoSans";
}

.title {
    text-align: center;
    color: #db272c;
    font-size: 24px;
    font-weight: 600;
}

.title-star {
    text-align: center;
    color: #7caf36;
    font-size: 12px;
    margin-top: 10px;
}

.title-star span:before {
    margin-left: 3px;
}

.content-page {
    padding-top: 50px;
}


/**************End My Framework************/


/**********Start Section Head**********/

.navbar-head {
    background-color: #fff;
    top: 100px;
}

.navbar-head.navbar-bg {
    padding: 0
}

.navbar-head .logo {
    height: 90px;
    /* display: block; */
    padding: 25px 0;
}

.navbar-head .logo img {
    /* height: 100%; */
    /* width: 100%; */
}

.head {
    height: 500px;
    background-attachment: fixed;
}

.head .overlay {
    height: 100%;
    background-color: rgba(2, 2, 2, 0.70);
    padding-top: 300px;
    text-align: center;
}

.head .overlay h2 {
    color: #fff;
    font-size: 30px;
}

.head .overlay p {
    color: #7caf36;
    font-size: 16px;
    font-weight: 600;
    margin-left: 60px;
    text-transform: capitalize;
    margin-top: 5px;
}

.head .overlay p a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-right: 25px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.head .overlay p a:before {
    margin-right: -70px;
}

.head .overlay p a:hover {
    color: #7caf36;
}


/********Copy Right************/


/**********End Section Head**********/


/*****Start Loading Page******/

.loading4 {
    background: #7caf36;
}

.loading4 .spinner {
    margin: auto;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
    text-align: center;
    -webkit-animation: rotateCube 2s infinite linear;
    animation: rotateCube 2s infinite linear
}

.loading4 .dot1,
.loading4 .dot2 {
    background-color: #fff;
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: bounceCube 2s infinite ease-in-out;
    animation: bounceCube 2s infinite ease-in-out
}

.loading4 .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes rotateCube {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateCube {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes bounceCube {
    0%,
    100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes bounceCube {
    0%,
    100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}


/*****Start Loading Page******/


/**********************************Single Page Of Product Portfolio***********************************/


/************Slider Controls***************/

.slick-slider.product-slider.tornado-ui .prev {
    left: 50%;
    margin-left: -50px;
    height: 35px;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #fff;
}

.slick-slider.product-slider.tornado-ui .next {
    right: 50%;
    font-weight: 600;
    margin-right: -50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    width: 50px;
    border-left: 1px solid #fff;
}

.slick-slider.product-slider.tornado-ui .next:before,
.slick-slider.product-slider.tornado-ui .prev:before {
    font-size: 20px;
    color: #fff;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.slick-slider.product-slider.tornado-ui .next:hover:before,
.slick-slider.product-slider.tornado-ui .prev:hover:before {
    color: #2c2c2c;
}

.slick-slider.product-slider.tornado-ui .next,
.slick-slider.product-slider.tornado-ui .prev {
    top: 90%;
    background-color: #7caf36;
}

.slick-slider.product-slider.tornado-ui .next:focus,
.slick-slider.product-slider.tornado-ui .prev:focus {
    outline: none;
    !important;
}

.portfolio-product h2 {
    color: #db272c;
    font-size: 20px;
}

.portfolio-product p {
    line-height: 30px;
    font-size: 14px;
    margin: 10px 0;
}

.blocks {
    margin-top: 30px;
}

.blocks li {
    display: inline-block;
    margin-bottom: 48px;
}

.blocks li a {
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 10px 15px;
    background-color: #cac8c8;
}

.blocks li a:hover {
    background-color: #7caf36;
}
